.DS_Store
.venv/
__pycache__/
*.py[cod]
**/target/
*.so
/runs/
/cache/
/runtime/
/wheels/
/model/data/fineweb10B/
/model/data/fineweb100B/
/model/data/finewebedu10B/
**/.cache/
*.bin
*.pt
*.pth
*.safetensors
.env
.env.*
*.pem
*.key
